<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Tu khoa</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Nhap tu khoa..." name="q">

            <label for="gender">Gioi tinh</label>
            <select name="gender" id="gender">
                <option value="">--Chon gioi tinh--</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>